<% @advertisements.each do |advertisement| %>
  <div class="container flex-container">
  <div class="row">
    <div class="bid-card">
      <div class="bid-title">
        <h6>advertisement.name</h6>
      </div>
    </div>
  </div>
</div>
<%end%>
