<div class="container">
	<div class="row">
		<div class="col-xs-3 col-md-3">
			
		</div>
		<div class="col-xs-9 col-md-9">
			<div class="form-container">
				<%= form_for @advertisement, create_advertisement_path(), :class=>"form_control" do |f| %>
					<%= f.text_field : %>
		
				<% end %>
			</div>
		</div>
	</div>
</div>