/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
  */
  @import 'bootstrap';


  .footer{
    width: 100%;
  }
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
 .main-content{
    height:750px;
  }

.signup-container {
  width: 100%;
  padding:20px;
  background: #007bb6;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left:0%;
  margin-top:20px;
}
.signup-container > input, select{
  margin-top: 10 px;
  padding:10px;
}
.btn-submit{
  width:  100%;
  background:crimson;
  margin-top:10px;
}
.login-card{
  width:300px;
  
  margin:20px;
  margin-left:50%;
  transform: translate(-50%,50% );
  background: #00aced;
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:10px;

}
.login-card input[type ="submit"] {
  margin: 10px 2px 10px 2px;
  width : 100%;
  background-color: crimson;
  
}
.mynav{
 
background: rgba(183,222,237,1);
background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,0.81) 51%, rgba(113,206,239,0.76) 65%, rgba(183,222,237,0.67) 88%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(51%, rgba(33,180,226,0.81)), color-stop(65%, rgba(113,206,239,0.76)), color-stop(88%, rgba(183,222,237,0.67)));
background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,0.81) 51%, rgba(113,206,239,0.76) 65%, rgba(183,222,237,0.67) 88%);
background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,0.81) 51%, rgba(113,206,239,0.76) 65%, rgba(183,222,237,0.67) 88%);
background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,0.81) 51%, rgba(113,206,239,0.76) 65%, rgba(183,222,237,0.67) 88%);
background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(33,180,226,0.81) 51%, rgba(113,206,239,0.76) 65%, rgba(183,222,237,0.67) 88%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );

color:white !important;
font-weight: bolder;
}

.title{
  text-align : center;
}
.information {
  width:100%;
  display:flex;
   padding:10px;
  flex-direction:column;
  height:200px;
  background : crimson;
  color:white;
  font-family: unset;
  font-weight: bolder;
}
.main-page-counter {
  font-size:26px;
  color:red;
  margin-bottom:10px;
  margin-top: 6px;

}